.productlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.productcard {
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
    margin: 10px;
    cursor: pointer;
    transition: 5s;
}

.productcard {
    /* font-size: 50px; */
    color: #000;
    padding-left: 10px;
    line-height: 1.5rem;
}
.productcard h3 {
    position: absolute;
    z-index: 1;

}
.productcard h3 span {
    display: inline;
    padding: 5px 0;
    /* font-size: 45px; */

}

.productcard h3 span:hover {
    color: #FFFFFF;
    transition: .3s;
    background: #bda38f;
    box-shadow: -5px 0 0 #bda38f, -5px 0 0 #bda38f;
}

.productimage {
    width: 100%;
    height: 300px;
    position: relative;
}

.productcard:hover img {
    transition: 1s;
    transform: scale(1.05);
}

.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.productdescription {
    width: 50%;
}

